{% extends 'base.html'%}
{%block navbar %}
{% include 'navbar.html' %}
{% endblock %}
{% block content %}
{% for quote in getquotes %}
<div class="container-fluid" style="padding: 2em;">
    
        <div class="overlay">
            <h1 class="text-center text-bold" style="color: black;">WELCOME TO MY BLOG</h1>
            <h4 class="text-center mb-5 mt-5 pt-3 pb-5">This is a personal blogging website where you can create and share
                your opinions and other users can read and comment on them. Also displays random quotes on the site.</h4>
    
        </div>
    

    <div>
        <div class="card card-image">
            <div class="text-white text-center" style="background-color: skyblue;">
                <div class="py-5">

                    <h5 class="h5 purple-text"><i class="fas fa-comment fa-fw"></i> Today's Blog
                        code.</h5>
                    <h2 class="card-title " style="color: black;">{{quote.author}}</h2>
                    <p class="mb-4 pb-2  " style="color: blue;">{{quote.quote}}</p>
                    <a class="btn " aria-haspopup="true" aria-expanded="false"
                        href="{{url_for('main.allBlogs')}}"><i class="fa fa-eye"></i> <strong style="color: brown;">See more</strong></b></a>

                </div>
            </div>
        </div>
    </div><br><br><br>
    <footer class="page-footer dark grey" style="padding: 2em;">

        <div class="footer-copyright text-center py-3">© 2021 Copyright:Gabriel|
            <a href="#"> MyBlog</a>
        </div>

    </footer>
</div>
{% endfor %}
{% endblock %}